<header id="header">
    <h1 id="logo"><a href="{{ base_url == '' ? '/' : base_url }}" title="{{ site.title }}"><img src="/user/themes/stein/assets/css/images/Logo_oben.svg" alt="{{ site.title }}" /></a></h1>
    <nav id="nav">
        <ul>
            <li>
              <a class="tel tooltip" href="tel:+491706856423">
                <span rel="tooltip">
                  +49&nbsp;170&nbsp;685&nbsp;64&nbsp;23
                </span>
              </a>
            </li>
            <li>
              <a class="mail tooltip" href="mailto:mail@supergood.de">
                <span rel="tooltip">
                  mail@supergood.de
                </span>
              </a>
            </li>
            <li>
              <div class="burger tooltip">
                <span rel="tooltip">
                  <a href="https://twitter.com/TheJensStein">
                    <img src="/user/themes/stein/assets/css/images/twitter.svg" />
                  </a>
                  <a href="http://artdirectorman.blogspot.de">
                    <img src="/user/themes/stein/assets/css/images/blogger.svg" />
                  </a>
                  <a href="https://www.xing.com/profile/Jens_Stein3">
                    <img src="/user/themes/stein/assets/css/images/xing.svg" />
                  </a>
                  <a href="https://de.linkedin.com/in/TheJensStein">
                    <img src="/user/themes/stein/assets/css/images/linkedin.svg" />
                  </a>
                </span>
              </div>
            </li>
        </ul>
    </nav>
</header>
